doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    h4 Data from openweather
    p Yay!!! It's working

    p="The weather for london is " + weather.main.temp + " degrees"
